@model List<EntityLayer.Concrete.Blog>

<div class="col-md-8 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Son Bloglarım</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Resim</th>
                            <th> Başlık </th>
                            <th> Durum </th>
                            <th> Kategori </th>
                            <th> Tarih </th>
                            <th> İşlemler </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td><image src="@item.BlogThumbnailImage" style="border-radius:1px !important; width:5em !important; height:5em !important;"></image> </td>
                                <td>@item.BlogTitle </td>
                                    @* <td>@item.BlogContent.Substring(0,item.BlogContent.Substring(0,30).LastIndexOf("")) ...</td>*@
                                    @if (item.BlogStatus == true)
                                    {
                                    <td><label class="badge badge-gradient-success">Aktif</label></td>
                                    }
                                    else
                                    {
                                    <td><label class="badge badge-gradient-danger">Pasif</label></td>
                                    }

                                <td><label class="badge badge-gradient-primary">@item.Category.CategroyName</label></td>

                                <td>@(((DateTime)item.BlogCreadDate).ToString("dd-MMM-yyyy"))</td>
                                <td>

                                    <a class="text-white text-decoration-none" href="/Writer/BlogUpdate/@item.BlogId">
                                        <button type="button" class="btn btn-inverse-warning btn-icon">
                                            <i class="mdi mdi-information"></i>
                                        </button>
                                            @*<button type="button" class="btn btn btn-gradient-warning btn-icon-text">
                                    Detaya Git <i class="mdi mdi-file-check btn-icon-append"></i>
                                    </button>*@
                                    </a>

                                </td>
                            </tr>
                            }
                            @* <td>  </td>
                        <td> Herman Beck </td>
                        <td> May 15, 2015 </td>
                        <td>
                        <div class="progress">
                        <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        </td>*@
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>